
 <div class="container starter-template">
 
   <div class="row">
        <ul class="nav nav-tabs">
            <li><a ui-sref="deviceList">Dispositivos</a></li>
            <li class="active"><a ui-sref="deviceAdd">Adicionar</a></li>
            <li><a ui-sref="userProfile">Mi perf&iacute;l</a></li>	 
        </ul>
   </div>
   <br>  

	<div class="row clearfix">		
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-12  column col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
		<form class="form-horizontal" name="deviceAddForm">
            	
				<div class="form-group">
				      <label class="col-md-1 control-label" for="code">Codigo</label>  
					  <div class="col-md-3">
						<input id="code" ng-model="formData.code" name="code" type="text" placeholder="Ingrese el código" class="form-control input-md" required 
                        data-ng-class='{ error: deviceAddForm.code.$invalid }'>
                      </div>
                      
					  <label class="col-md-1 control-label" for="registration">Matricula</label>  
					  <div class="col-md-3">
						<input id="registration" ng-model="formData.registration" name="registration" type="text" placeholder="" class="form-control input-md">
					  </div>	
				 </div>
				 
				 <div class="form-group">
					  <label class="col-md-1 control-label" for="brand">Marca</label>  
					  <div class="col-md-3">
						<input id="brand" ng-model="formData.brand" name="brand" type="text" placeholder="Ingrese la marca" class="form-control input-md" required
                        data-ng-class='{ error: deviceAddForm.brand.$invalid }'>
					  </div>
                      
					   <label class="col-md-1 control-label" for="model">Modelo</label>  
					  <div class="col-md-3">
						<input id="model" ng-model="formData.model"  name="model" type="text" placeholder="Ingrese el modelo" class="form-control input-md" required
                        data-ng-class='{ error: deviceAddForm.model.$invalid }'>
					  </div>
				</div>
				 
				<!-- Button (Double) -->
				<div class="form-group">
				  <label class="col-md-1 control-label" for="button1id"></label>
				  <div class="col-md-2">
					<button id="button1id" name="button1id" ng-click="submitFormAddDevice(formData)" data-ng-disabled='!deviceAddForm.$valid' class="btn btn-success">Aceptar</button>
					<button id="button2id" name="button2id" class="btn btn-danger">Cancelar</button>
				  </div>
				</div>
	    <form>
		
	  </div>
    </div>
 </div>