<!-- views/login.html -->


 <div class="container starter-template">
 
   <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a ui-sref="login">Entrar</a></li>
            <li><a ui-sref="signup">Registrarse</a></li>	 
        </ul>
   </div>
   <br>  

	<div class="row clearfix">		
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-12  column col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
		<form class="form-horizontal" ng-submit="login.login()" method="post">
            	
				<div class="form-group">
				      <label class="col-md-1 control-label" for="email">Usuario</label>  
					  <div class="col-md-3">
						<input id="email" ng-model="login.email" name="email"  placeholder="Ingrese el usuario" class="form-control input-md" required>                       
                      </div>
                 </div>
                 
                 <div class="form-group">
			             
					  <label class="col-md-1 control-label" for="password">Contraseña</label>  
					  <div class="col-md-3">
						<input id="password" ng-model="login.password" name="password" type="password" placeholder="Contraseña" class="form-control input-md">
					  </div>	
				 </div>
				
				
				 
				<!-- Button (Double) -->
				<div class="form-group">
				  <label class="col-md-1 control-label" for="button1id"></label>
				  <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Autenticarse</button>
				  </div>
				</div>
	    <form>
		
	  </div>
    </div>
 </div>
